.fruit-container {
  background: rgb(111, 169, 223);
  padding: 20px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fruit-title {
  color: #121b29;
  text-align: center;
  margin-bottom: 10px;
  font-style: initial;

}

.fruit-list li {
  color: #010d13;
  font-size: 18px;
  margin: 5px 0;
  font-style: italic;
}
