
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f4f6;
  padding: 20px;
}

.card {
  width: 560px;
  background: rgb(160, 156, 180);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}



.name {
  font-size: 40px;
  font-weight: 600;
  margin-top: 10px;
}

.desc {
  font-size: 14px;
  color: rgb(223, 80, 80);
  margin: 10px 0;
}

.follow-btn {
  background: #2563eb;
  color: rgb(27, 3, 3);
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.follow-btn:hover {
  background: #1e4fc9;
}
.profile-pic {
  width:200px;
  height:200px;
  object-fit:cover;
  display:block;
  border-radius:8px;
}
